{% load static %}
<nav class="navbar navbar-default navbar-fixed-top homepage-navbar" style="border-radius:None">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
{#    <div class="navbar-header">#}
{#      <button type="button" class="navbar-toggle collapsed " style="background-color: #4682b4" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">#}
{#        <span class="sr-only">Toggle navigation</span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#        <span class="icon-bar"></span>#}
{#      </button>#}
{#      <a class="navbar-brand brand-logo" style="color: #ffffff;margin-left:20px" href="#">Serve-N-Deliver</a>#}
{#    </div>#}

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
          <img style="margin-left:20px;margin-top: 20px" src="{% static "images/logo.png" %}" />
      </div>
    <div id="navbar" class="navbar-collapse collapse custom" aria-expanded="false" >
                <ul class="nav navbar-nav navbar-right" style="margin-top: 40px;margin-right: 20px">
                    <li><a id="home" class="navbar-links" href="#home">Home</a></li>
                    <li><a id="booking" class="navbar-links" href="#Book Vehicle Servicing">Book vehicle servicing</a></li>
                    <li><a id="how-we-work-btn" class="navbar-links" href="#how-we-work">How We work</a></li>
                    <li><a id="pricing-btn" class="navbar-links" href="#pricing">Pricing</a></li>
                    <li><a id="login" class="navbar-links" href="#login">Login/Register</a></li>






                </ul>
            </div><!-- /.nav-collapse -->

  </div><!-- /.container-fluid -->
</nav>
