.homepage-navbar{
     background-color:#ffffff;
    background-image: none;
    box-shadow: none;
  height: 100px;
}
.navbar-inverse{
    background-color:#4682b4;
    background-image: none;
    border-color: #4682b4;
}
.brand-logo{
    background-color:#4682b4;
    font-size: 30px;
    font-family: "Droid Serif";

}
.flexi{
   margin-left: 200px;
   margin-right: 200px;
   max-height: 440px;
}

.image-slider{

    max-height:400px
     width: 862px;
    height: 400px;
}

.tick-bullet{
    left: auto;
    right: auto;
    width: 40px;
    height: 40px

}
.click-away{
     margin-top: -24px;
    margin-left: 80px;
    width: 116px;
    height: 150px;
}
.mechanic-image
{
    margin-left:55px;
    margin-top: 28px;
    width: 750px;
    height: 450px;
}

.schedule-button{
    margin-top: -22px;
    margin-left: 20px
}

.how-we-work
{
    background-color: mediumseagreen;
    background-color: mediumseagreen;
    height: 600px;
    margin-top: 50px;
}

.how-we-work-heading{
    text-align: center;
    color: mediumseagreen;
    margin-top: 30px;
    font-family: cursive;
    font-size: 50px
}

.steps-image{
width: 150px;
    height: 150px;
    margin-left: 25%;
    margin-top: 25px;
;
}
.steps-heading{
    margin-left: 20%;
    font-size: 25px;
    font-family: cursive;

}
.steps-detail{
    font-size: 18px;
    text-justify:distribute;
    margin-left:50px;
    margin-right: 30px;
    margin-top: 50px;
}



.navbar-default {
    background-color: white;
    border-color: white;
}

